/*
  Define color palette
*/
:root {
  --primary-color: #86C9B5;
  --primary-color-hover: #5bab93;
  --secondary-color: #0A4D68;
  --secondary-color-hover: #0c6f96;
  --tertiary-color: #088395;
  --logo-color: #B7FFC7;
  --navbar: #DEEBE4;
  --background: #F5F5F5;
  --gray: #D9D9D9;
  --icon: #126469;
  --icon-hover: #208D94;
  /* --warning: #FEF4E5; */
}

/*
  For main App render
*/
.App {
  background-color: var(--background);
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

/*
  Common CSS properties
*/
.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.default-content{
  height: 84.5vh;
  margin: 0 auto;
  justify-content: space-around;
}

#outline-btn, #filled-btn{
  height: 9vh;
  width: 15vw;
}

#outline-btn{
  border: 3px solid var(--secondary-color);
  color: var(--secondary-color);
  font-weight: 600;
}

#outline-btn:hover{
  border-color: var(--secondary-color-hover);
  color: var(--secondary-color-hover);
}

#filled-btn{
  background-color: var(--secondary-color);
}

#filled-btn:hover{
  background-color: var(--secondary-color-hover);
}

/*
  For Copyright
*/
#footer{
  height: 5.5vh;
  padding-left: 1.5vw;

  font-size: 12.5px;
  font-weight: 450;
  background-color: var(--primary-color);
  color: white;
}

/*
  For Nav Bar
*/
#navbar{
  background-color: var(--navbar);
  height: 10vh;
  display:fixed;
  bottom: 0;
  justify-content: space-between;
}

#logo{
  height: 7vh;
}

#avatar{
  height: 6vh;
  width: 6vh;
  background-color: white;
  border: 1.5px solid var(--icon);
}

#icon{
  height: 4.5vh;
  width: 4.5vh;
  color: var(--icon);
}

#initialsIcon{
  height: 6vh;
  width: 6vh;
  color: white;
  background-color: var(--icon);
  border: 2px solid var(--icon);
  padding-bottom: 3px;
}

#avatar:hover{
  background-color: var(--icon);
}

#avatar:hover #icon{
  color: white;
}

#avatar:hover #initialsIcon{
  color: var(--icon);
  background-color: white;
  border: 2px solid white;
}

/*
  For Home Page
*/
#prompt, #hero{
  justify-content: space-around;
}

#hero{
  height: 75%;
}

#prompt{
  height: 25%;
  background-color: #EAEBEC;
}

#highlight{
  border-bottom: 7.5px double var(--primary-color);
}

#highlight:hover{
  color: var(--icon);
}

/*
  For modal
*/
.modalContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.modal{
  height: 62.5vh;
  width: 55vw;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

#warning-btn{
  height: 6.5vh;
  width: 15vw;
  background-color: var(--secondary-color);
}

#warning-btn:hover{
  background-color: var(--secondary-color-hover);
}