.individualDynamicCard{
    width: 97.5%;
    border: 1px solid var(--primary-color);
    height: 20vh;
    margin-bottom: 2%;
}

.cardContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardActions{
    margin-bottom: 2%;
}

#action-button-container{
    height: 2.5vh;
    width: 7.5vw;
    align-items: center;
    justify-content: flex-start;
    margin-right: 1.5vw;
}

.individualDynamicCard:hover, #action-button-container:hover, .action-icon:hover {
    cursor: pointer;
}

.map-action:hover{
    background-color: var(--primary-color-hover);
}

.post-action:hover{
    border: 1.25px solid #393c40;
}

#map-action-button-text, #post-action-button-text{
    font-size: 0.8em;
}

#map-action-icon, #post-action-icon{
    height: 1.25vw;
    width: 1.25vw;
    margin-right: 7.5%;
}

#map-action-icon, #map-action-button-text{
    color: white;
}

#post-action-icon{
    color: #393c40;
}

#post-action-button-text, #action-button-text{
    color: var(--primary-color-hover);
}

#action-icon{
    color: #606060;
}

#action-button-text{
    margin-left: 1vw;
    font-size: 1vw;
    font-weight: 600;
}