.home-content{
    height: 90vh;
    display: flex;
    flex-direction: column;
}

#welcome-text{
    margin: 3.5vh auto 2vh auto;
}

.home-feed{
    width: 90vw;
    height: 85vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display-container{
    width: 65vw;
    height: 62.5vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#home-navigation-card{
    width: 20vw;
    height: 55vh;
    background-color: var(--primary-color);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2.5vh 0;
}

#all-container, #create-prompt{
    width: 95%;
    align-items: flex-start;
}

#all-title{
    font-size: 2vw;
    margin-bottom: 2vh;
}

#cancel-load-button{
    background-color: var(--secondary-color);
}

#cancel-load-button:hover{
    background-color: var(--secondary-color-hover);
}

#view-bar{
    width: 65vw;
    margin-bottom: 2.5vh;
    justify-content: space-between;
}