.map-screen-container{
    height: 81vh;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#map-viewer{
    margin-top: 0.5vh;
    height: 100%;
}

.map-sidebar-input{
    border: 1px solid #ccc;
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}

#comment-side-bar{
    z-index: 2000;
    width: 25vw;
    height: 77.5vh;
    position: absolute;
    right: 1vw;
    justify-content: space-around;
    align-items: flex-end;
    margin: auto 0;
    padding: 0;
}

#expand-comment-btn{
    font-weight: bold;
    background-color: var(--primary-color-hover);
    color: white;
    margin-top: 1.5vh;
}

#expand-comment-btn:hover{
    background-color: var(--primary-color);
}

#toolbar{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px;
    overflow: hidden;
    text-align: right;
    transition: height 0.3s ease;
}

#comment-sidebar-container{
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}

#close-comment-sidebar{
    width: 100%;
    height: 7.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#close-comment-btn{
    cursor: pointer;
}

#close-comment-btn:hover{
    color: #739087;
}

#map-comments-container{
    width: 100%;
    /* height: 70%; */
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    overflow-Y: scroll;
}

#comment-owner-name{
    text-align: start;
    font-weight: bold;
}

#comment-input-container{
    width: 100%;
    justify-content: center;
    align-items: center;
}

#comment-input-wrapper{
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
}

#comment-username-text{
    font-weight: bold;
    font-size: 0.75vw;
    margin-left: 0.75vw;
    margin-bottom: 1.5vh;
}

#comment-username{
    color: var(--secondary-color);
}

#comment-username:hover{
    color: var(--secondary-color-hover);
    border-bottom: 1.5px solid var(--secondary-color-hover);
}

#comment-user-info-box{
    align-items: center;
    justify-content: space-between;
}

#comment-user-info{
    width: 10vw;
    align-items: center;
    justify-content: flex-start;
}

#comment-owner-name{
    margin-left: 0.5vw;
    font-weight: bold;
    font-size: 1vw;
    color: var(--secondary-color);
}

#comment-owner-name:hover{
    color: var(--secondary-color-hover);
    border-bottom: 1px solid var(--secondary-color-hover);
}

#comment{
    text-align: start;
    padding: 10px;
}

#card-actions{
    width: 100%;
    justify-content: space-between;
}

#reply-button{
    width: 7vw;
    color: var(--secondary-color);
    text-transform: lowercase;
    display: flex;
    justify-content: space-around;
}

#comment-section-divider{
    width: 100%;
    margin: 2vh auto;
    color: var(--secondary-color);
    font-weight: bolder;
}

#comment-card{
    height: auto;
    width: 100%;
    margin-bottom: 1.5vh;
    overflow-Y: auto;
    /* min-height: 15vh; */
}

#empty-subcomment{
    width: 100%;
    height: 3.25vh;
    padding-left: 1.5vw;
    text-align: left;
    background-color: #ddebe4;
}

#map-subcomment{
    background-color: #ddebe4;
    border-bottom: 1px solid black;
}

#account-prompt{
    height: 20%;
    width: 100%;
    justify-content: space-between;
}

#account-prompt-description{
    width: 77.5%;
    justify-content: space-around;
    color: #092A37;
    font-style: italic;
}

#account-prompt-icon{
    height: 2.25vw;
    width: 2.25vw;
}

#account-prompt-text{
    font-weight: bold;
    font-size: 1.125vw;
}

#account-prompt-actions{
    height: 60%;
    width: 100%;
    justify-content: space-around;
}

.account-prompt-btns{
    height: 80%;
    width: 45%;
    text-transform: none;
}

#account-signup, #account-login{
    background-color: var(--secondary-color);
    border-radius: 25px;
}

#account-signup:hover, #account-login:hover{
    background-color: var(--secondary-color-hover);
}

.share-menu{
    position: relative;
}

#data-info-control, #legend-control {
    z-index: 1500;
    position: absolute;
    border: 1px solid #ccc;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

#legend-control{
    width: 15vw;
    min-height: 8vh;
    bottom: 1vh;
    right: 1vh;
    justify-content: center;
    align-items: center;
}

#legend-row{
    width: 80%;
    justify-content: flex-start;
    margin: auto;
}

#legend-color-box{
    width: 3.5vh;
    height: 3.5vh;
    display: inline-block;
    margin-right: 1.5vw;
}

#data-info-container{
    width: 15vw;
    min-height: 8vh;
}

#data-entry-box{
    z-index: 2550;
    height: 60vh;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    transform: translate(-50%, -50%);
}

#pin-icon{
    height: 5vh;
    width: 5vh;
    color: var(--secondary-color);
}

#data-entry-title{
    width: 15vw;
    justify-content: space-around;
}

#data-entry-divider{
    width: 97.5%;
    margin: 2vh auto 0 auto;
    border: 0.1vh solid var(--secondary-color);
}

#data-entry-container{
    height: 25vh;
    width: 90%;
    /* justify-content: space-between; */
}

#data-entry{
    width: 90%;
    justify-content: space-around;
}

#data-entry-buttons{
    height: 6.5vh;
    width: 62.5%;
    justify-content: space-around;
}

.easyPrintHolder .current-map-size { 
    background-image: url("data:image/svg+xml,%3c%3fxml version='1.0' encoding='utf-8'%3f%3e%3c!-- Uploaded to: SVG Repo%2c www.svgrepo.com%2c Generator: SVG Repo Mixer Tools --%3e %3csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12 6H12.01M9 20L3 17V4L5 5M9 20L15 17M9 20V14M15 17L21 20V7L19 6M15 17V14M15 6.2C15 7.96731 13.5 9.4 12 11C10.5 9.4 9 7.96731 9 6.2C9 4.43269 10.3431 3 12 3C13.6569 3 15 4.43269 15 6.2Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
}

#edit-map-divider{
    width: 100%;
    margin: 2vh auto;
    color: var(--secondary-color);
    font-weight: bolder;
    font-size: 1.5vw;
}

#map-type-text{
    font-weight: bolder;
    color: var(--secondary-color);
}

#map-type-text:hover{
    border-bottom: 1.5px dashed var(--secondary-color);
}

#duplicate-entry-container{
    height: 25vh;
    width: 90%;
    justify-content: space-around;
}

#duplicate-entry{
    width: 90%;
    justify-content: space-around;
}

#edit-property-type, #edit-map-type{
    color: var(--secondary-color);
}

#edit-map-type:hover, #edit-property-type:hover{
    cursor: pointer;
    color: var(--secondary-color-hover);
}

#edit-map-type{
    margin-left: 2.5vw;
}

#edit-property-type{
    margin-left: 1vw;
}

.pinSidebarEntry {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}