#map-viewer{
    margin-top: 0.5vh;
    height: 92vh;
    width: 69vw;
}

.map-sidebar-input{
    border: 1px solid #ccc;
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}